<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>TENNIS RACQUET</ion-title>
    </div>
          <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-content>
      Aside from a court, opponent, a few tennis balls, and some sturdy tennis shoes, all you need to start playing is a racquet.

      To get yourself started, you can read our article about the different parts of a tennis racquet – we’ve also included a diagram below for quick reference.
    </ion-card-content>
  </ion-card>

</ion-content>
