<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>TENNIS COURT</ion-title>
    </div>
          <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-content>
      Before you head to a park or your local club to play, it’s helpful to have a general sense of the dimensions and layout of a tennis court.
    </ion-card-content>
  </ion-card>
</ion-content>
