ion-toolbar {
    // border-bottom-right-radius: 100px;
    // border-bottom-left-radius: 100px;
    // padding-bottom: 90px;
    --background: #f0f8ff;
    --background: linear-gradient(90deg, #f0f8ff 0%, #4d71d7 100%);
    // --background: #f0f8ff;
    color: #ffffff;
}

ion-content {
    // --background: #f0f8ff; 
    --background: #f0f8ff;
    --background: linear-gradient(90deg, #f0f8ff 0%, #4d71d7 100%);
}