<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>TENNIS ACCESSORIES</ion-title>
    </div>
          <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-content>
      Here are a few accessories that you’ll likely hear about once you start playing tennis. While none of them are necessary to hit the court, they’re good to be aware of and keep in mind.
    </ion-card-content>
  </ion-card>
</ion-content>
