<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>TENNIS STRINGS</ion-title>
    </div>
          <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-content>
      Many tennis racquets for beginners come pre-strung. In that case, you won’t need to buy a separate set of strings or pay someone to string your racquet for you. However, at some point, you’ll want to restring your racquet, or you may be forced to if you break a string, so it’s good to know the basics.
    </ion-card-content>
  </ion-card>
</ion-content>
