<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>TENNIS STRINGS</ion-title>
    </div>
          <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-content>
      Often there is only one gate to get onto multiple courts. If that’s the case and some players are actively participating in a match, wait until the players change ends before entering the court to avoid disrupting them. Also, be sure to shut the gate behind you.
    </ion-card-content>
  </ion-card>
</ion-content>
