ion-toolbar {
    --background: #f0f8ff;
    --background: linear-gradient(90deg, #f0f8ff 0%, #4d71d7 100%);
    color: #ffffff;
}

ion-content{
    --background: #f0f8ff;
    --background: linear-gradient(90deg, #f0f8ff 0%, #4d71d7 100%);
}