<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/home"></ion-back-button>
      <ion-title>{{title}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>

  <ion-card>
    <ion-card-content>
      {{description}}
    </ion-card-content>
    <div class="ion-text-center">
      <ion-card-subtitle>
        {{title}}
      </ion-card-subtitle>
    </div>
  </ion-card>

</ion-content>
